body{  
    /* body is the selector in  this styling*/
    background-color: white;
    background-image: url('/Images/bground.jpg');
    background-attachment: fixed;
    
}
#p1{
    color: white;
    border: 2px solid purple;
    background-color: violet;
    padding: 5px;
    background-image: url('Images/bg.jpg');
    background-attachment: fixed;
    font-weight: bolder;
    border-radius: 10px;
    
}
h1{
    color: #0f0cff;
}
#para{
    border-width: 5px;
    border-style: dotted;
    border-color: green;
    padding: 5px;
    color: black;
    border-radius: 5px ;
    margin-top: 10px;
    outline-style: solid;
    outline-color: red;
    outline-width: 10px;
    margin: 5px;
    outline-offset: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#d2{

    margin: 10px;
}
#P{
    text-transform: capitalize;
    color: green;
    font-weight: bolder ;
    text-shadow: 2px 2px 5px red;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: palevioletred;
    border: 2px darkgreen;
    padding:10px ;
    width: 15%;
    height: 10%;
    border-radius: 10px;
}
/* unvisited link */
a:link {
    color: red;
    background-color: aquamarine;
  }
  
  /* visited link */
  a:visited {
    color: green;
    background-color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    background-color: blueviolet;
  }
  
  /* selected link */
  a:active {
    color: blue;
    background-color: burlywood;
  }
  table {
    border-collapse: collapse; /* Ensures that borders are not doubled */
    width: 100%; /* Optional: makes the table take up the full width of its container */
}

table, th, td {
    border: 1px solid black; /* Applies a border to the table, table headers, and table cells */
}